.toolbar {
    margin-top: 10%;
    padding: 1%;
    background-color: blue;
    color: white;
}

.toolbar>* {
    margin-left: 2%;
    margin-right: 2%;
}

.toolbar>*>span {
    background-color: navy;
    font-size: 25px;
    font-weight: bold;
    margin-right: 60%;
}